<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/mvc
	  http://www.springframework.org/schema/mvc/spring-mvc.xsd
      http://www.springframework.org/schema/util
	  http://www.springframework.org/schema/util/spring-util.xsd
      http://www.springframework.org/schema/rabbit
	  http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
      http://www.springframework.org/schema/aop  
      http://www.springframework.org/schema/aop/spring-aop.xsd ">
      
	<context:property-placeholder location="classpath:application.properties"/>
	<util:properties id="appConfig" location="classpath:application.properties"></util:properties>
	
	<!-- RabbitMQ连接配置 -->
	<rabbit:connection-factory id="connectionFactory" host="${mq.host}" port="${mq.port}" username="zhaotf" password="123456" />
	<rabbit:connection-factory id="ztfConnectionFactory" host="${mq.host}" port="${mq.port}" username="ztfadmin" password="123456" 
		virtual-host="${mq.virtual.host}" />
	<rabbit:admin connection-factory="connectionFactory" />

	<!-- RabbitMQ Template, -->
	<!-- 
	<rabbit:template id="amqpTemplate" exchange="${mq.queue}_exchange" connection-factory="connectionFactory"></rabbit:template>
	 -->
	<rabbit:template id="amqpTemplate" connection-factory="connectionFactory"></rabbit:template>
	<rabbit:template id="ztfAmqpTemplate" connection-factory="ztfConnectionFactory"></rabbit:template>

	<!-- 交换机 -->
	<!-- rabbit:top-exchange 标签的 name 属性就是在 RabbitMQ 服务器配置交换机的 name 值 -->
	<!-- rabbit:binding 标签的 queue 属性是下面 <queue> 标签的 id 属性 -->
	<!-- rabbit:binding 标签的 pattern 属性是在 RabbitMQ 服务器配置交换机与队列绑定时的 Routing key 值（路由） -->
	<rabbit:topic-exchange name="${mq.queue}_exchange" durable="true" auto-delete="false">
		<rabbit:bindings>
			<rabbit:binding pattern="${mq.queue}_patt" queue="test_queue" ></rabbit:binding>
		</rabbit:bindings>
	</rabbit:topic-exchange>

	<!-- 声明一个队列 -->
	<rabbit:queue id="test_queue" name="${mq.queue}_testQueue" durable="true" auto-delete="false" exclusive="false"></rabbit:queue>


</beans>
      