<component name="ArtifactManager">
  <artifact type="war" name="spring-mvc-hadoop:war">
    <output-path>$PROJECT_DIR$/spring-mvc-hadoop/target</output-path>
    <root id="archive" name="spring-mvc-hadoop.war">
      <element id="artifact" artifact-name="spring-mvc-hadoop:war exploded" />
    </root>
  </artifact>
</component>