<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhcf.learn.dao.UserMapper">

	<resultMap id="BaseResultMap" type="com.hhcf.learn.model.UserModel">
		<result column="id" property="id" jdbcType="BIGINT" />
		<result column="sso_id" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
	</resultMap>

	<select id="findUserByUserName" parameterType="string" resultMap="BaseResultMap">
		select t.* from APP_USER t where t.sso_id = #{username}
		<!-- 
		select * from t_s_base_user where username = #{userName}
		 -->
	</select>
	
	<insert id="save" parameterType="com.hhcf.learn.model.UserModel" useGeneratedKeys="true" keyProperty="id" >  
    	INSERT INTO APP_USER(sso_id,password,first_name,last_name,email,state)  
                      VALUES(#{username},#{password},#{firstName},  
        					 #{lastName},#{email},#{state}
        					 )  
	</insert>  
	
	<select id="findById" parameterType="long" resultMap="BaseResultMap">
		select * from APP_USER where id = #{id}
	</select>
	
	<select id="findByUserName" parameterType="String" resultMap="BaseResultMap">
		select * from APP_USER where username = #{username}
	</select>

</mapper>
